.header{
    text-align: center;
    width: 100%;
    background-color: #eee6df;
    opacity: 0.6;
    justify-content: space-between;
}
.header_contents_wrap{
    display: flex;
    padding: 0 10%;
    margin: 20px 0;
}
.topMenu{
    flex-grow: 1;
    display: flex;
    font-weight: 500;
    justify-content: right;
    /*margin:10px 150px;*/
    /* color:#1b0f04; */
}
.topMenu p{
    margin-left: 20px;
    cursor:pointer;
}

.header_img{
    width: 21px;
}