*{
    /*text-align: center;*/
}
.header{
    width:100vw;
    background-color: #eee6df;
    opacity: 0.6;
    height: 10vh;
    display: flex;
    /*color:#1b0f04;*/
    justify-content: space-between;

}
.topMenu{
    float:right;
    display: flex;
    font-weight: 500;
    margin:10px 150px;
    /* color:#1b0f04; */
}
.topMenu p{
    margin-left: 20px;
    cursor:pointer;
}

.topMenu img{
    width: 30px;
}

input[type="text"]{
    height: 50px;
    padding: 0px 20px;
    margin-top: 25px;
}
