.hidden {
    height:100%;
    min-height:100%;
    overflow:hidden !important;
    touch-action:none;

}
.main_wrap {
    display: flex;
    padding:10px 20%;
}
.all_contents{
    display: flex;
    width: 100%;
}
.all_contents > *{
    border: solid 1px;
}
.main_section{
    width: 70%;
}
#profile_img_wrap{
    width: 100px;
}
.section{
    /*flex-grow: 1;*/
    display : flex;
    flex-direction: column;
    height: 70vh;
}

.profile_box{
    display: flex;
    align-items: center;
    height: 10%;
    padding: 8px;
}

.profile_img{
    height: 100%;
    border-radius: 50%;
}

#main_img{
    height: 50%;
    overflow: hidden;
    align-self: center;
}

.contents_img{
    height: 100%;
}

#content{
    padding: 5px;
    overflow: hidden;
    height: 36px;}

#img_wrap {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px;
}

.img_wrap img {
    max-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.serve_section {
    margin-left: 50px;
    width: 30%;
    height: 500px;
    background-color: #eee;
}

.icon {
    display: flex;
    justify-content: space-between;
    padding:5px;
}

.icon_img {
    height: 24px;
    width: 24px;
}

.profile_wrap > span {
    display: block;
    width: 90%;
    height: 90%;
    overflow: hidden;
    border-radius: 50%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}



.userid {
    margin-top: 30px;
    margin-left: 10px;
}

.text_sources{
    display: flex;
    flex-direction: column;
}
.text_sources > *{
    padding: 5px;
}
.word {
    font-family: 'Noto Sans KR', sans-serif;
}

.contents {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    padding: 5px;
}

/*///////////////////////////////////*/

.contents_detail {
    position: absolute;
    background-color:black;
    border-radius: 4px;
    width: 1000px;
    height: 500px;
}

/*.pop1 img {*/
/*    !*position: absolute;*!*/
/*    !*width: 80%;*!*/
/*    !*top: 50%;*!*/
/*    !*left: 50%;*!*/
/*    !*transform: translate(-50%, -50%);*!*/

/*    max-height: 450px;*/
/*    max-width: 450px;*/
/*    aspect-ratio: 692.8 / 921;*/
/*    flex-basis: 450.8px;*/

/*}*/

.black {
    opacity: 0.45;
    position: fixed;
    left: 0;
    top: 0;
    background: black;
    width: 100%;
    height: 100%;
    display: none;
}

.popTop {
    width: 100%;
    height: 30px;
    background-color: #1b0f04;
}

.popBottom {
    width: 100%;
    height: 770px;
    display: flex;
}

.detail_img {
    /*width: 50%;*/
    background-color: blue;

}

.detail_coments {
    /*width: 50%;*/
    background-color: yellow;
    overflow: hidden;
}

#cancel {
    width: 20px;
    height: 20px;
    border: none;
    text-align: center;
    float: right;
    margin-right: 8px;
    margin-top: 5px;
    background-color: #1b0f04;
    color: white;
}
#emoji{
    width: 20px;
    height: 20px;
}
.print_img{
    width:auto;
}