.myPageBody{
    padding-top: 50px;
    padding-left: 120px;
    display: flex;
    flex-direction: row;
}

.myPageBody > span{
    padding-top: 10px;
}

.img img{
    width: 150px;
    height: 150px;
    grid-area: img;
}

.user_id{
    font-size: 33px;
}

.name{
    padding-top: 20px;
}


.updateImg{
    width: 38px;
    margin-left: 30px;
}

.myPageContent{
    display: flex;
    padding-top: 60px;
    flex-wrap: wrap;
    width: 900px;
}

.myImage{
    margin: 10px;
    display: flex;
    background-color: black;
    align-items: center;
}

._userIdName{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    width: 2000px;
}

._userIdBtn{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.imgSize{
    width: 280px;
    transition: 0.5s;
    height: 286px;
    object-fit: contain;
}

.imgSize:hover{
    transform: scale(1.1);
}

.comments_owner{
    height: 10%;
    margin: 10px;
}

.__thumbnail{
    height: 100%;
    border-radius: 50%;
}

._mainThumbnail{
    width: 180px;
    border-radius: 50%;
}

/*userPage*/
.userPageContent{
    display: flex;
    padding-top: 60px;
    flex-wrap: wrap;
    width: 900px;
}

.userImage{
    /*padding: 4px;*/
    /*border: 1px solid lightslategray;*/
    margin: 10px;
    display: flex;
    background-color: black;
    align-items: center;
}
.del_btn{
    position: relative;
    left: 120px;
    width: 25px;
}

/*follow*/
.btn input[type="button"]{
    margin-left: 40px;
    border-radius: 6px;
    color: #eeeeee;
    border: none;
    cursor: pointer;
    background-color: cornflowerblue;
    height: 33px;
    width: 86px;
}
.follow{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.ft{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
._userId_Btn{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}