.myPageBody{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.myPageBody > span{
    padding-top: 10px;
}

.img img{
    width: 150px;
    height: 150px;
    grid-area: img;
}

.user_id{
    grid-area: user_id;
}

.name{
    grid-area: name;
}

.btn{
    grid-area: btn;
}

.myPageContent{
    display: flex;
    padding-top: 60px;
    flex-wrap: wrap;
    width: 900px;
}

.myImage{
    padding: 10px;
}

.imgSize{
    width: 280px;
}