
.content{
    text-align: center;
}

.menu{
    background-color: #eee6df;
    width: 100vw;
    height: 40px;
}

.menu div{
    width: 80vw;
    margin-left: 10vw;
    margin-top: 15px;
    font-size: 12pt;
    display: flex;
    padding-top: 13px;
}

.menu p{
    position: relative;
    margin-right: 4vw;
    cursor: pointer;
}
.updateUser{
    padding-bottom: 20px;
}
.updateUser > p{
    padding-top: 10px;
    padding-bottom: 10px;
}
.updateUser > span{
    padding-top: 10px;
}
.button > input{
    width: 80px;
}

.updateTitle{
    font-size: 25px;
}

.img img{
    width: 150px;
    height: 150px;
    grid-area: img;
}

/*updateMyInfo*/
.c_header{
    padding-bottom: 30px;
}

#myContent{
    position: relative;
    padding: 45px 50px 95px;
}

.tableMyInfo{
    border: 1px solid black;

    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    width: 100%;
    table-layout: fixed;
}

.tableMyInfo > tr{
    border: 1px solid black;
}