
._wrap{
    overflow: hidden;
}

.content{
    text-align: center;
}

.menu{
    background-color: #f6e1ff5c;
    width: 100vw;
    height: 40px;
}

.menu div{
    width: 80vw;
    margin-left: 10vw;
    margin-top: 15px;
    font-size: 12pt;
    display: flex;
    padding-top: 13px;
}

.menu p{
    position: relative;
    margin-right: 4vw;
    cursor: pointer;
}
.updateUser{
    padding-bottom: 20px;
}
.updateUser > p{
    padding-top: 10px;
    padding-bottom: 10px;
}
.updateUser > span{
    padding-top: 10px;
}
.button > input{
    border-radius: 15px;
    color: #eeeeee;
    border: none;
    cursor: pointer;
    background-color: #b66dd7;
    height: 33px;
    width: 86px;
}

.updateTitle{
    font-size: 25px;
}

.img img{
    width: 150px;
    height: 150px;
    grid-area: img;
}

/*08.04*/
.update_user{
    text-align: center;
}

/*updateMyInfo*/
.c_header{
    padding-bottom: 30px;
}

#myContent{
    position: relative;
    padding: 45px 50px 95px;
}

#updateMyContent{
    text-align: center;
    display: flex;
    justify-content: center;
}

.tableMyInfo{
    border: 1px solid black;

    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    width: 100%;
    table-layout: fixed;
}

.tableMyInfo > tr{
    border: 1px solid black;
}

/*#input_img{
    margin-left: 70px;
}*/
/*.name, .email{
    text-align: center;
}*/

.image-container{
    padding: 20px;
}

.__name{
    padding-bottom: 17px;
}

.__email{
    padding-bottom: 35px;
}

.name, .email{
    margin: 5px;
    height: 35px;
    width: 250px;
    text-align: center;
}

.name:focus{
     background-color: white;
 }
.name:focus {
    animation-name: border-focus;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.email:focus{
    background-color: white;
}
.email:focus {
    animation-name: border-focus;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes border-focus {
    from {
        border-radius: 0;
    }
    to {
        border-radius: 15px;
    }
}

input[type=file]::file-selector-button {
    margin-left: 20px;
    width: 100px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 15px;
    cursor: pointer;
}
input[type=file]::file-selector-button:hover {
     background: rgb(77,77,77);
     color: #fff;
 }

#pw_past, #pw_new, #pw_check{
    margin: 5px;
    height: 35px;
    width: 250px;
    text-align: center;
}

.__pw{
    padding-top: 45px;
}
.___pw{
    padding-top: 15px;
}

#pw_past:focus{
    background-color: white;
}
#pw_past:focus {
    animation-name: border-focus;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#pw_new:focus{
    background-color: white;
}
#pw_new:focus {
    animation-name: border-focus;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#pw_check:focus{
    background-color: white;
}
#pw_check:focus {
    animation-name: border-focus;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#user_pw{
    margin: 5px;
    height: 35px;
    width: 250px;
    text-align: center;
}
#user_pw:focus{
    background-color: white;
}
#user_pw:focus {
    animation-name: border-focus;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


/*
.uploadBtn{
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploadBtn:hover {
     background: rgb(77,77,77);
     color: #fff;
 }

#input_img{
    display: none;
}*/
