
#write_form > div{
    width: 100%;
}

#upload_section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#upload_section1 > * {
    padding: 22px;
}

.close {
    position: absolute;
    right: 22px;
    top: 18px;
}

.btn_upload{
    width: 150px;
    height: 30px;
    background:#CC82EE;
    color: #faeeff;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_upload:hover{
    background:#faeeff;
    color: #CC82EE;
}

#input_img{
    display: none;
}
#upload_section2 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}
#section2_main{
    display: flex;
    justify-content: space-around;
}
#upload_section2 > * {
    padding: 22px;
}

#upload_section3 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#upload_section3 > * {
    padding: 22px;
}
#b_contents{
    margin: 15px;
    height: 400px;
    resize: none;
}
#section3_main{
    display: flex;
    justify-content: space-around;
}
.img_thumbnail{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    height: 100%;
    width: 100%;
}

#write_form{
    flex-direction: column;
    height: 100%;
}
#image_contain{
    position:relative;
    overflow: hidden;
    height: 100%;
}
#image_container{
    flex-grow:1;
}
.write_section{
    border-bottom: 1px solid #dbdbdb;
}
.next_btn, .del_img, .back_btn, #write{
    background:transparent;
    color: #CC82EE;
    border: none;
    font-weight: bold;
    font-size: 16px;
}
.next_btn{
    cursor: pointer;
}
.del_img{
    cursor: pointer;
}
.back_btn{
    cursor: pointer;
}
#write{
    cursor: pointer;
}